script(type='text/javascript', src='/lib/jquery/jquery.min.js')
script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.min.js')

script(type='text/javascript', src='http://localhost:35729/livereload.js')
